@font-face {
    font-family: 'Avenir';
    src: url(/assets/fonts/Avenir.ttc);
    font-weight: normal;
    font-style: normal;
}

body { margin:0; padding:0; }
#distributors { position:absolute; top:0; bottom:0; right:0; left:0; height:700px;}

.corner-popup {
    position: fixed;
    font-family: "Avenir";
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255,0.93);
    /* border: 1px solid #2c4776; */
    border: 1px solid gray;
    border-radius: 9px;
    width: 280px;
    padding: 12px;
    display: none; /* Initially hidden */
}

.distributor-icon {
    height: 30px!important;    
    margin-bottom:6px!important;
}

.distributor-link {
 text-decoration: none;
 /* color:rgb(33, 151, 243); */
 color:#2c4776;
}

.distributor-link:hover {
    text-decoration: none;
    color:rgb(33, 151, 243);
   }

